@use 'sass:map';
@use './../../../styles/base/spaces.scss';

.container {
  display: flex;
  flex-direction: row;
  padding: map.get(spaces.$spaces, '4') map.get(spaces.$spaces, '8');
  justify-content: space-between;
  background-color: red;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: map.get(spaces.$spaces, '4');
}

.linkContainer {
  padding: map.get(spaces.$spaces, '2');
}
