@use 'sass:map';
@use './../../../styles/base/spaces.scss';
@use './../../../styles/base/breakpoints.scss' as breakpoints;
@import './../../../styles/base/mediaQueries.scss';

.container {
  display: flex;
  flex-direction: row;
  padding: map.get(spaces.$spaces, '4') map.get(spaces.$spaces, '8');
  justify-content: space-between;
  background-color: red;

  @include media-query-max(breakpoints.$screenLarge) {
    background-color: yellow;
    padding: map.get(spaces.$spaces, '4') map.get(spaces.$spaces, '7');
  }
  @include media-query-max(breakpoints.$screenMedium) {
    background-color: blue;
    padding: map.get(spaces.$spaces, '4') map.get(spaces.$spaces, '6');
  }

  @include media-query-max(breakpoints.$screenSmall) {
    background-color: green;
    padding: map.get(spaces.$spaces, '4') map.get(spaces.$spaces, '5');
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: map.get(spaces.$spaces, '4');
  @include media-query-max(breakpoints.$screenMedium) {
    flex-direction: column;
    // display: none;
  }
}

.linkContainer {
  padding: map.get(spaces.$spaces, '2');
}
