@use 'sass:map';
@use './../../../styles/base/spaces.scss';

.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  letter-spacing: map.get(spaces.$spaces, '3');
  margin-top: map.get(spaces.$spaces, '8');
  margin-bottom: map.get(spaces.$spaces, '8');
  font-size: 8rem;
}
