@use 'sass:map';
@use './../../../styles/base/spaces.scss';
@use './../../../styles/base/breakpoints.scss';
@use './../../../styles/variables/colors.scss';
@import './../../../styles/base/mediaQueries.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 20%;

  @include media-query-max(breakpoints.$screenLarge) {
    width: 80%;
    margin-left: 10%;
  }
  @include media-query-max(breakpoints.$screenMedium) {
    width: 90%;
    margin-left: 5%;
  }
  @include media-query-max(breakpoints.$screenSmall) {
    width: 95%;
    margin-left: 2.5%;
  }
}
.table {
  width: 100%;
  border-spacing: 0;
}
.tableAquamarine {
  border: 1px map.get(colors.$colors, 'aquamarineWhite') solid;
  border-radius: map.get(spaces.$spaces, '2');
  animation: glowAquamarine 2s ease alternate infinite;
}
.tablePink {
  border: 1px map.get(colors.$colors, 'primaryWhitest') solid;
  border-radius: map.get(spaces.$spaces, '2');
  animation: glowPink 2s ease alternate infinite;
}
.tableHeader,
.tableData {
  padding: map.get(spaces.$spaces, '3') map.get(spaces.$spaces, '3');
  text-align: center;
}
.tableHeader {
  font-family: 'Oswald-Regular', sans-serif;
  border-radius: 6px 6px 0px 0px;
  animation: glowPink 2s ease alternate infinite;
  border-bottom: 1px map.get(colors.$colors, 'primaryWhitest') solid;
}
.tableBody {
  border-top: 1px map.get(colors.$colors, 'primaryWhitest') solid;
  border-radius: 0px 0px 6px 6px;
}

@keyframes glowAquamarine {
  100% {
    box-shadow: 0 0 2px map.get(colors.$colors, 'aquamarineWhite'),
      inset 0 0 2px map.get(colors.$colors, 'aquamarineWhite'),
      0 0 7px map.get(colors.$colors, 'aquamarine'),
      inset 0 0 7px map.get(colors.$colors, 'aquamarine'),
      0 0 21px map.get(colors.$colors, 'aquamarine'),
      inset 0 0 21px map.get(colors.$colors, 'aquamarine');
  }
  0% {
    box-shadow: 0 0 1px map.get(colors.$colors, 'aquamarineWhite'),
      inset 0 0 1px map.get(colors.$colors, 'aquamarineWhite'),
      0 0 7px map.get(colors.$colors, 'aquamarine'),
      inset 0 0 7px map.get(colors.$colors, 'aquamarine'),
      0 0 13px map.get(colors.$colors, 'aquamarine'),
      inset 0 0 13px map.get(colors.$colors, 'aquamarine');
  }
}
@keyframes glowPink {
  100% {
    box-shadow: 0 0 2px map.get(colors.$colors, 'primaryWhitest'),
      inset 0 0 2px map.get(colors.$colors, 'primaryWhitest'),
      0 0 7px map.get(colors.$colors, 'primary'), inset 0 0 7px map.get(colors.$colors, 'primary'),
      0 0 21px map.get(colors.$colors, 'primary'), inset 0 0 21px map.get(colors.$colors, 'primary');
  }
  0% {
    box-shadow: 0 0 1px map.get(colors.$colors, 'primaryWhitest'),
      inset 0 0 1px map.get(colors.$colors, 'primaryWhitest'),
      0 0 7px map.get(colors.$colors, 'primary'), inset 0 0 7px map.get(colors.$colors, 'primary'),
      0 0 13px map.get(colors.$colors, 'primary'), inset 0 0 13px map.get(colors.$colors, 'primary');
  }
}
