@use 'sass:map';
@use './../../../../../styles/base/spaces.scss';
@use './../../../../../styles/base/breakpoints.scss';
@import './../../../../../styles/base/mediaQueries.scss';

.container {
  display: flex;
  flex-direction: column;
  scroll-margin: 88px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  // margin-top: map.get(spaces.$spaces, '8');
  width: 80%;
  margin-left: 10%;
  gap: map.get(spaces.$spaces, '5');
  padding-bottom: map.get(spaces.$spaces, '11');

  @include media-query-max(breakpoints.$screenLarge) {
    width: 90%;
    margin-left: 5%;
  }
  @include media-query-max(breakpoints.$screenMedium) {
    width: 95%;
    margin-left: 2.5%;
  }
  @include media-query-max(breakpoints.$screenSmall) {
    width: 100%;
    margin-left: 0%;
  }
}
.subTitle {
  font-size: 3.5rem;
  letter-spacing: map.get(spaces.$spaces, '2');
  text-indent: map.get(spaces.$spaces, '2');
  margin-bottom: map.get(spaces.$spaces, '4');
}
